.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #F2F2F2;
  overflow: hidden;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
}

.logo {
  width: 183px;
  height: 32px;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
}

.header__link {
  color: #2F80ED;
  line-height: 25px;
  font-size: 18px;
  text-decoration:none;
}

.header__link:hover {
  transition: 3s opacity linear;
  opacity: 0.5
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}

.content {}

.description {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin-top:0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-top:0;
  margin-bottom: 30px;
  padding: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.technics {
  width: 80%;
  margin:auto;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards {
  width: 920px;
  position: relative;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;  
}

.cards__item {
  width: 240px;
  margin-top:60px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height:160px;
  margin: 0 40px 43px 40px;
  border-radius: 160px;
}

.cards__title {
  margin-top:0;
  margin-bottom: 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  text-align: center;
}

.video {
  position: relative;
  margin-bottom:-60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video__iframes {
  margin-top:50px;
  display: flex;
  justify-content:space-around;
}

.video__iframe {
  width:515px;
  height:316px;
  margin-right: 20px;
  padding:0;
  border : 0px;
}

.oakley {
  padding-top:160px;
  margin-bottom:-20px;
  display: flex;
  justify-content: center;
  background-color:#F2F2F2;
}

.feinman {
  height: 790px;
  position: relative;
  padding-top: 100px;
  margin-bottom: 100px;
  background-image: url("feinman.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feinman__title {
  width: 648px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feinman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: #000000;
  text-decoration:none;
}

.feinman__link:hover{
transition: 3s opacity linear;
opacity: 0.5
}


.feinman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.digits {
  position: relative;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-title {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0; 
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.table__cell-heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell-text {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
}


.khan {
  padding-top:105px;
  background-color:#F2F2F2;
  display: flex;
  justify-content: center;
}

.khan__container {
  width: 80%;
}

.khan__author {
  margin:0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin:0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  width: 790px;
  margin-top:50px;
  margin-bottom:36px;
  margin-left: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin:0;
  line-height: 1.15;
  font-size: 24px;
  margin-bottom:68px;
  font-weight: normal;
}

.khan__book-container {
 display: flex;
}

.khan__book-pic {
  width:620px; 
  height:608px;
  
  margin-right:20px;
  object-fit: cover;
  object-position: top;
}


.khan__buy-link {
  line-height: 32px;
  font-size: 30px;
  font-weight: normal;
  color:#2F80ED;
  text-decoration:none;
}

.khan__buy-link:hover{
  transition: 3s opacity linear;
  opacity: 0.5
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1F1F1F;
  position: relative;
  overflow: hidden;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: -1;
  animation: rotation 20s linear infinite;
}

.section-title_theme_dark {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 69px;
  font-size: 60px;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.section-subtitle_theme_dark {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  color: white;
  z-index: 0;
  line-height: 34px;
  font-size: 34px;
  font-weight: normal; 
}

.table_theme_dark {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
}

.resources {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:100px;
}

.resources__logo-zone {
  width: 1100px;
  margin-top:80px;
  margin-bottom: 217px;
  display: flex;
  list-style-type: none;
}

.resources__logo {
  width:270px; 
  height:38px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1F1F1F;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  position: relative;
}

.footer__column_content_info {}

.footer__column_content_social {}

/* .logo_place_footer {
  width: 183px;
  height: 32px;
  z-index: 1;
}
*/

.footer__author {
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}

.footer__column-links {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0;
}

.footer__column-links:hover {
  transition: 3s opacity linear;
  opacity: 0.5
}

.footer__social-icons {
  weight: 16px;
  height: 16px;
}

@keyframes rotation {
  0% {
       transform: rotate(0deg);
  }
  100% {
       transform: rotate(360deg);
  }
}
